@CHARSET "UTF-8";
.h1{
	color: green;
	font-family: 隶书;
	font-size: 100px;
	font-weight:bold;
	line-height: 4cm;
}

.body{
	background-image:url('../image/3.jpg');
	background-repeat:repeat;
	background-size:100%
}
.form{
	
	
}

.div{
	background-color:pink;
	width:200px;
	height:300px;
}
